:root {
  /* Primary Colors */
  /* Text */

  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /* Gradients */
  /* background gradient*/

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* Neutral Colors */
  /* Text */

  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */

  --Light-grayish-blue: hsl(240, 5%, 91%);

  /* Typography */
  --font-size: 0.75rem;

  /* Font */
  --Kumbh-Sans: "Kumbh Sans", sans-serif;
}

/* Use Board-Box Model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h2,
h3,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--Kumbh-Sans);
  background-color: var(--Soft-violet);
  background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
  color: var(--Very-dark-grayish-blue);
  font-size: var(--font-size);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
}

main {
  background-color: #fff;
  border-radius: 30px;
  max-width: 85vw;
}

.image-illustration {
  position: relative;
  /* top: 20; */
  bottom: 7.4rem;
  /* left: 40px; */
  width: 14rem;
  margin: 1rem auto;
}

.image-illustration .shadow {
  margin-top: -5rem;
}

.FAQs {
  margin-top: -8rem;
  padding: 1.5rem;
  text-align: center;
}

.FAQs h1 {
  font-size: calc(var(--font-size) * 2);
  font-weight: 700;
  margin-bottom: 2rem;
}

.faq {
  text-align: left;
}

.question {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: none;
  background-color: #fff;
  color: var(--Very-dark-grayish-blue);
  margin-bottom: 1rem;
  font-size: calc(var(--font-size) * 1.1);
}

.question:hover {
  color: var(--Soft-red);
}

.answer {
  display: none;

  color: var(--Dark-grayish-blue);
  margin-bottom: 1.5rem;
  padding-right: 1rem;
}

.question:focus {
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
}

.question:focus img {
    transform: rotate(180deg);
}
.question:focus + .answer {
  display: block;
}

hr {
  border: 1px solid var(--Light-grayish-blue);
  margin: 1rem 0;
}


@media (min-width: 40em) {
    main {
        display: flex;
    }
}